html {
    font-size: 16px;
    scroll-behavior: smooth;
    background: #EDF1F2;
}
.inner {
    width: 90rem;
    /* 1440px */
    margin: 0 auto;
}

@media (max-width: 768px) {
    html {
      font-size: 15px;
    }
    body {
      width: 100vw;
      overflow: hidden;
    }
  }





/* /공통 */