.design {
  position: relative;
  width: 100%;
  background: #EDF1F2;
  margin-top: 12.5rem;
  padding: 4.375rem 0 2.5rem;
  scroll-margin-top: 16.875rem;
}

.title {
  position: absolute;
  font-size: 4.375rem;
  color: white;
  top: -22%;
  left: 19.7%;
}

.swiper {
  --swiper-theme-color: #54453F;
}

.swiperWrapper {
  height: 31.25rem;
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  margin-right: 6.25rem;
}


.slide {
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.odd {
  width: 26.25rem;
}

.even {
  width: 45rem;
}

.image {
  height: 100%;
}


@media (max-width: 915px) {


  .design {
    position: relative;
    width: 100vw;
    background: #EDF1F2;
    margin-top: 10rem;
    padding: 1rem 0;
    scroll-margin-top: 16.875rem;
    margin-top: 6rem;
    margin-bottom: 2rem;
  }

  .title {
    position: absolute;
    font-size: 4rem;
    color: #54453F;
    top: -22%;
    left: 6%;
  }

  .swiperWrapper {
    height: 26rem;
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }


  .slide {
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 1rem 0;
    box-sizing: border-box;
  }

  .odd {
    width: 100%;
  }

  .even {
    width: 100%;
  }

  .image {
    height: 100%;
  }

}