.info {
    display: flex;
    justify-content: space-between;
    width: 57%;
    margin: 0 0 0 auto;
    padding: 1rem;
    font-family: "Pretendard Variable", sans-serif;
    color: white;
    font-weight: 200;
}

.info small {
    font-size: inherit;
}