.info {
    display: flex;
    justify-content: space-between;
    width: 57%;
    margin: 0 0 0 auto;
    padding: 16px;
    font-family: "Pretendard Variable", sans-serif;
    color: white;
    font-weight: 200;
}

.info small {
    font-size: inherit;
}

@media (max-width: 915px) {

    footer {
        width: 100vw;
        background: #54453f;
    }
    .info {
        width: 100vw;
        margin: 0;
        color: white;
        font-weight: 200;
        box-sizing: border-box;
        display: block;
        text-align: center;
    }
    .info small {
        display: block;
        margin-bottom: 0.2rem;
    }

}